*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.container, canvas{
    position: fixed;
    inset: 0;
}

.clean-btn {
    z-index: 1;
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    text-shadow: 0 0 10px #000000;
    user-select: none;
    padding: 0 0 15px 25px;
    cursor: pointer;
    text-decoration: underline;
    opacity: .5;
}
canvas {
    position: fixed;
    inset: 0;
    display: block;
    touch-action: none;
    background: black;
}

.name {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 1000px;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: clamp(24px, 6vw, 100px); /* tamaño mínimo 16px, máximo 60px */
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    user-select: none;
    pointer-events: none;
    color: #fff8c6;
        text-shadow:
        0 0 5px #ffe60a,
        0 0 10px #ffe600,
        0 0 20px #ffd500,
        0 0 40px #ffcc00,
        0 0 80px #ffcc00;
    animation: neon-flicker 3s infinite alternate;
}
.name span {
    display: block;
    line-height: 1.1; /* menos espacio entre líneas */
}

@keyframes neon-flicker {
    0% {
        opacity: 0.85;
        text-shadow:
            0 0 10px #fff7a8,
            0 0 20px #ffe600,
            0 0 40px #ffd500,
            0 0 80px #ffcc00;
    }
    50% {
        opacity: 1;
        text-shadow:
            0 0 15px #fff7a8,
            0 0 30px #ffe600,
            0 0 60px #ffcc00,
            0 0 120px #ffcc00;
    }
    100% {
        opacity: 0.9;
    }
}

@media all and (min-width: 640px) {
    .name {
        font-size: 45px
    }
}

#lock {
    position: fixed;
    inset: 0; /* top, right, bottom, left = 0 */
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.85); /* fondo oscuro */
    z-index: 9999;
}

.lock-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px 25px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(6px);
}

.lock-box input,
.lock-box button {
    font-size: 2vw; /* tamaño relativo al ancho de la pantalla */
    padding: 0.8em 1em;
    border-radius: 6px;
    border: none;
    width: 100%; /* ocupar todo el contenedor */
    max-width: 300px; /* evitar que sea demasiado grande en escritorio */
}

.lock-box button {
    margin-top: 10px;
    cursor: pointer;
}

@media (max-width: 480px) {
    .name {
        padding: 1rem;
        line-height: 1.35;
    }

    .clean-btn {
        font-size: 13px;
        padding: 0 0 10px 15px;
    }
    .lock-box input,
    .lock-box button {
        font-size: 5vw; /* más grande en pantallas pequeñas */
    }

}